 * {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #D4D4D4;  
    background-image: url('../images/circuit.png');
    background-repeat: ;
    resize: all;
    display: flex;
    flex-direction: column;
}

/* nav*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666666;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: teal;
    float: left;

}

ul.topnav li a.active {background-color: teal;}

ul.topnav li.right {float: right;}




/* Main column */
.main {
    flex: 70%;
    padding: 20px;
}

/* Fake image, just for this example */
.background { 
    background-image: url("assets/images/circuit.png");
    width: 100%;
    padding: 20px;
    flex: 1 0 auto;

}

.main-con-box {
	background-color: #ffffff;
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    max-width: 960px;;
    margin-top: 40px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;;
}

/*Title of main content*/

h2 {
    font-size: 28px;
    padding-left: 20px;
    margin-bottom: 10px;
}

/*Border underneath title of content*/

hr {
    border: 0;
    height: 0;
    border-top: 4px solid rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    max-width: 915px;
}

.heading {
    color:#4aaaa5;
}


/*About Me Page*/

#port-pic {
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    height: 250px;
    float: left;
}

#bio {
    line-height: 2.0;
    margin-right: 20px;
    margin-left: 20px;

    
}

/*Contact me page*/



.contact {
    margin-left: 20px;
    clear: both; 
    overflow: auto;

}

input {
    width: 915px;
    overflow: auto;
    margin: 5px auto;
}

.john-smith, .email, .message {
    max-height: 150px;
    margin-bottom: 0px;

}

.button {
    background-color: #4aaaa5;
    padding: 10px 24px;
    width: 15%;
}

/*Portfolio*/

.container-port { 
    min-height: 250px;
    margin-bottom: 20px;

}



img {
    width: 100%;
}

div.caption-text {
    top: 0;
    position: absolute;
    opacity: 0.8;
    background-color: teal;
    border-style: solid;
    border-color: teal;
    width: 100%;

}

.text a{
    position: relative;
    color: purple;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

#col-1, #col-2{
    margin-top: 25px;
    height: 250px;
    width: 250px;
    
    flex-wrap: wrap;
}



.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;

}

/* Create two equal columns that sits next to each other */

.column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin-left: 25px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}





/* Footer */
.footer {
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #666666;
}

#teal {
    background-color: #4aaaa5;
    height: 5px;
    width: 100%;
    text-align: center;
    flex-shrink: 0;
    bottom: 0;

}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .main-header {   
        flex-direction: column;
    }
}



@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
/* Responsive layout - makes a one column-layout instead of two columns */

@media screen and (max-width: 250px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
            }
}


@media screen and (max-width: 600px){
    ul.topnav li.left, 
    ul.topnav li {float: none;}
}

